@import "tailwindcss";

@theme {
    --font-electrolize: "Electrolize", sans-serif;
}

@layer components{

    .navBar-text{
        @apply font-electrolize text-2xl cursor-pointer text-gray-400 hover:text-gray-700 transition-all;
    }



}